/* colors  */
.text_primary_400 {
    color: #2C3E50;
}
.bg_primary_400 {
    background-color: #2C3E50;
}
.bg_primary_300 {
    background-color: #3A546D;
}
.text_secondary_400 {
    color: #1ABC9C;
}
.bg_secondary_400 {
    background-color: #1ABC9C;
}

/* commons  */
body {
    font-family: 'Montserrat', sans-serif;
}

.fa-star {
    font-size: 1.5rem;
}
hr {
    display: inline-block;
}

/* header fixed  */
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}



/* hero section  */
.hero__img {
    width: 80%;
    height: auto;
    max-width: 300px;
}


/* form  */
input.form-control,
textarea.form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid gray;
    padding-left: 0;
}
.form-control::placeholder {
    color: #2C3E50;
    font-size: 1rem;
}

/* star decoration  */
.decoration:before,
.decoration:after {
    content: "";
    background-color: currentColor;
    display: inline-block;
    height: .2rem;
    position: relative;
    width: 7rem;
    top: -.5rem;
}
.decoration:before {
    right: 1rem;
}
.decoration:after {
    left: 1rem;
}


/* circled icons  */
.circled-icons a {
    flex-shrink: 0;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    line-height: 2.5rem;
    margin: 0 .5rem 1rem;
}

/* hover on images  */
.img_btn {
    position: relative;
}
.img_btn button {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    background-color: #1ABC9C;
    opacity: .9;
    font-size: 3rem;
    color: white;
    border: none;
}
.img_btn:hover button {
    display: flex;
    justify-content: center;
    align-items: center;
}