/* colors  */
.bg_primary_400 {
    background-color: #2C3E50;
}
.bg_primary_300 {
    background-color: #3A546D;
}
.bg_secondary_400 {
    background-color: #1ABC9C;
}

i {
    font-size: 1.5rem;
}

.hero__img {
    width: 80%;
    height: auto;
    max-width: 300px;
}